body {
  font-family: 'Noto Sans HK', sans-serif;
}

/* Nav */
.navbar {
  background-image: linear-gradient( 109.6deg,  rgba(117,67,104,1) 11.2%, rgba(170,107,146,1) 54.7%, rgba(170,107,146,1) 100.2% );
}

 .navbar .navbar-nav .nav-item .nav-link {
  color: #ebebeb;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #dddddd;
}

/* Project section */
.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}